<set n="{{sizeof( @default ) + @self->option( 'extra-items' )}}" /> 
<check if="{{@n < @self->option( 'min-items' )}}">
	<set n="{{@self->option( 'min-items' )}}"/>
</check>
<ul id="{{@self->fullId('list')}}">
	<repeat group="{{range( 1, @n )}}" value="{{@i}}">
		{{@self->renderInputRow( @default, @i )}}
	</repeat>
</ul>
<span class='ff_item_add' id="{{@self->fullId('add')}}"><img src='{{@self->option("resourcesURL")}}/images/add.png' /> More</span>
<script type="text/javascript">
	ff_bindAddButton( '{{@self->fullId()}}' );
<repeat group="{{range( 1, @n )}}" value="{{@i}}">
	ff_bindRemoveButton( '{{@self->fullId()}}',{{@i}} );
</repeat>
ff['lists']['{{@self->fullId()}}'] = {{json_encode( array(
	"template" => @self->renderInputRow( @defaults, "ROW_ID" ),
	"next_index" => @n ))}}
</script>
