<div id="{{@self->fullId('container')}}" class='{{@self->classes()}} ff_section'>
	<check if="{{@self->hasOption('title')}}">
		<h{{@self->option("heading")}} class='ff_title'>{{@self->htmlOption("title")}}</h{{@self->option("heading")}}>
	</check>

	<check if="{{@self->hasHtmlOption( 'description' )}}">
               <div class='ff_description' id='{{@self->fullId("description")}}'>{{@self->htmlOption("description")}}</div>
	</check>

	<repeat group="{{@self->fields}}" value="{{@field}}">
		{{@field->render(@defaults)}}
	</repeat>
</div>
